set tabsize 4
set tabstospaces
set autoindent
set const
set nowrap
set smooth
set softwrap
set smarthome
set nonewlines

include /home/barbossa/nanorc/scopatz_nanorc/apacheconf.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/asciidoc.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/asm.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/awk.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/c.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/cmake.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/coffeescript.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/colortest.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/conf.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/csharp.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/css.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/cython.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/dot.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/email.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/fish.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/fortran.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/gentoo.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/git.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/gitcommit.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/glsl.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/go.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/groff.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/haml.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/html.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/ini.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/inputrc.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/java.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/javascript.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/js.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/json.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/keymap.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/kickstart.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/ledger.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/lisp.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/lua.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/makefile.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/man.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/markdown.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/mpdconf.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/mutt.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/nanorc.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/nginx.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/patch.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/peg.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/perl.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/php.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/pkg-config.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/pkgbuild.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/po.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/pov.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/privoxy.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/python.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/reST.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/rpmspec.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/ruby.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/sed.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/sh.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/sql.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/systemd.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/tex.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/vala.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/vi.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/xml.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/xresources.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/yaml.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/yum.nanorc
include /home/barbossa/nanorc/scopatz_nanorc/zshrc.nanorc

